*{margin: 0px; padding: 0px;}
.header{
background-image: url(../img/slider/slider-01.jpg);
background-size: 100% 100%;    
height: 650px;
}
.overlay_header{
    background-color: rgba(0,0,0,0.6);
    height: 650px;   
}
.navbar{
    width: 95%;
    margin: auto;
}
.navbar h3{ 
    
    float: left;
    padding: 7px;
    cursor: pointer;
    color: red;
    font-weight: bold;
    font-size: 30px;
}
.navbar li{
    float: right;
    padding: 12px 23px;;
    list-style-type: none;
    cursor: pointer;
    color: white;
}
.header li span {color: red}
.clr{clear: both}
.caption{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 15%;
    
}
.caption h3{
    color: white;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 30px;
}
.caption h1 {
    color: red;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 60px;
    font-family: sans-serif;
}
.caption p{
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.about{
    
    height: 500px;
  
}
.about_left{
    width: 50%;
    height: inherit;
    float: left;
}

.about_img_left{
    width: 70%;
      
}
.border_img{
    
    width: 361px;
    height: 430px;
    border: 5px solid gray;
    position: relative;
    left: 72px;
    top: 36px;
}
.border_img img {
    
    position: absolute;
    top: 7px;
    left: 35px;

}

@media  (max-width: 900px) {
  .about_left {
    width: 100%;
  }
}
.about_right{
    
    width: 50%;
    height: inherit;
    float: right;
    
    
}
.caption_about{
    
    margin-top: 30px;
    color: black;

}
.caption_about h1 {
    padding-top: 10px;

    
}
.caption_about p{
    padding-top: 10px;
    letter-spacing: 1px;
    font-size: 20px;
  
}
.caption2_about{
    
    height: 250px;
    margin-top: 10px;
 
}
.caption2_about table {
    padding: 10px;
    width: 100%;
}
.caption2_about table ,td , th {
    text-align: left;
    font-weight: bold;
    padding: 5px;
    font-size: 15px;

}

.about_button button {
        background-color: red;
    color: white;
    font-weight: bold;
    padding : 6px 19px;
    border-radius: 11px;    
}
.Our_Services{
    padding: 25px;
    background-color:floralwhite;
}
.Our_Services h2{
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
}
.services{
    width: 95%;
    margin: auto;
    margin-top: 30px; 
}
.servicses_parint1{
    width: 20%;
    float: left;
    padding: 20px;
}
.servicses_parint2{
    width: 20%;
     float: left;
    padding: 20px;
}
.servicses_parint3{
    width: 20%;
     float: left;
    padding: 20px;    
}
.servicses_parint4{
    width: 20%;
     float: left;
    padding: 20px;
}
.services h1{
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding-bottom: 10px;
    text-align: center;
}
.services p{
    color: black;
    padding-top: 10px;
    text-align: center;
    
}
